*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(122, 51, 188);
}
.main{
    position: relative;
    background: white;
    max-width: 1000px;
    overflow-x: hidden;
    border-radius: 20px;   
}
.main .icon{
    position: absolute;
    top : 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}
.icon:first-child{
    left: 0;
    display: none;
    background: linear-gradient(90deg, rgb(255, 255, 255)60%, transparent);
}
.icon:last-child{
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, rgb(255, 255, 255)60%, transparent);
}
.icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.icon:first-child i{
    margin-left: 15px;
}
.icon:last-child i{
    margin-right: 15px;
}
.icon i:hover{
    background: rgb(179, 163, 193);
}
.main .elements{
    padding: 30px;
    display: flex;
    list-style: none;
    gap: 12px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.elements.dragging{
    scroll-behavior: auto;
    cursor: grab;
}
.elements .tab{
    font-size: 1.1rem;
    white-space: nowrap;
    padding: 5px 10px;
    border: 1px solid wheat;
    border-radius: 30px;
    background: whitesmoke;
    cursor: pointer;
}
.elements .tab.active{
    color: white;
    background: rgb(83, 83, 193);
    border-color: transparent;
}
.elements .dragging .tab{
    user-select: none;
}